*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat Light', serif;
    color: #03053f;
    width: 100%;
    background-image:url(img/planner2.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nav{
    margin-top: 100px;
    margin-left: 30%;
    display: flex;
    width: 40%;
}

.nav button{
    margin-left: 23%;
    margin-right: 20%;
    height: 70px;
    outline: none;
    background: none;
    font-family: 'Montserrat Light', serif;
    font-size: 20px;
    align-items: center;
    text-align: center;
    color: #03053f;
}

#dash{
    border: none;
}

#plan{
    font-family: 'Montserrat SemiBold', serif;
    border: none;
    border-bottom: 3px #03053f;
    padding-left: 10%;
}

#dash:hover{
    color: gainsboro;
    cursor: pointer;
    transition-duration: 0.5s;
}

.out img{
    width: 35px;
    height: 35px;
}

.out{
    top: 15px;
    position: absolute;
    right: 5%;
    color: #03053f;
    background-color: #03053f;
    border: none;
    outline: none;
}
main h1{
    margin-top: 10px;
    margin-left: 35%;
    font-size: 36px;
    text-shadow:  white 1px 1px 0, #ffffff -1px -1px 0,
    #ffffff -1px 1px 0, white 1px -1px 0;
}

main h4{
    margin-left: 32%;
    font-size: 16px;
    margin-top: 10px;
}

.form{
    display: block;
    margin-top: 7px;
    margin-left: 30%;
}

.form_control{
    padding: 7px 20px ;
    width: 50%;
    border: 1px solid #03053f;
    box-sizing: border-box;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);
    outline: none;
    font-family: 'Montserrat Light', serif;
    font-weight: bold;
}

main button{
    margin-top: 20px;
    margin-left: 38%;
    padding: 3px;
    width: 20%;
    height: 35px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: #03053f ;
    font-family: 'Montserrat Light', serif;
    font-size: 16px;
    align-items: center;
    text-align: center;
    color: #DDE5E8;
}
main button:hover{
    background: #a4b8ea;
    color: white;
    cursor: pointer;
    transition-duration: 0.7s;
}

main button:active{
    position:relative;
    cursor: pointer;
}


@media screen and (max-width: 800px){
    *, *:after, *:before {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        transition: .5s ease-in-out;
    }

    main h1{
        margin-left: 30%;
        font-size: 37px ;
    }

    main h4 {
        margin-left: 33%;
        font-size: 20px;
    }

    .form{
        margin-left: 25%;
    }

    .form_control{
        width: 75%;
    }

    header{
        margin-top: 30px;
        height: 60px;
    }

    .icon_img{
        width: 25px ;
        height: 25px;
    }

    .icon h3{
        color: #ffffff;
        margin-left: 1.5%;
        font-size: 15px;
    }

    .nav{
        margin-left: 15%;
        display: flex;
        width: 40%;
    }

    .nav button{
        height: 60px;
        font-size: 15px;
    }

    .out img{
        width: 25px;
        height: 25px;

    }

    main button{
        width: 35%;
        margin-left: 35%;
    }

}

@media screen and (max-width: 450px){
    *, *:after, *:before {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        transition: .5s ease-in-out;
    }

    main h1{
        margin-top: 55px;
        margin-left: 20%;
        font-size: 30px ;
    }

    main h4 {
        margin-left: 25%;
        font-size: 15px;
    }

    .form{
        margin-left: 20%;
    }

    .form_control{
        width: 80%;
    }

    .nav{
        margin-left: 5%;
        display: flex;
        width: 40%;
    }
    main button{
        font-size: 17px;
    }


}
